.categoryMenu {
    background: pink;
    height: 100%;
}

.categorysWrapper {
    padding-top: 2rem;
}

.categoryWrapper {
    margin: 0rem 1rem 0rem 1rem;
    width: 28rem;
    height: 3rem;
    border-bottom: 0.1rem solid #FF5FA2;
}

.category {
    padding: 1rem 0rem;
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: white;
}

.category:hover {
    color: #FF5FA2;
}